name: ejercicio 3_1

on:
  push:
    branches:
      - main

jobs:
  validar:
    runs-on: ubuntu-latest

    steps:
      - name: Bajar codigo
        uses: actions/checkout@v5
      - name: Instalar pytest
        run: pip install pytest
      - name: Utilizar pytest para ejecutar los tests
        run: pytest test.py
